<!DOCTYPE html>

@using Microsoft.AspNetCore.Http;

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ControlIC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>

        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light" style="margin-bottom:0; background-color:#262626">
            <div class="container">
                <a class="navbar-brand" asp-area="" style="color:white; font-weight:bold; font-size:xx-large" asp-controller="Usuarios" asp-action="LoginPage">CONTROL IC</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">

                        <li class="nav-item">
                            <!--<a class="nav-link text-dark" asp-area="" asp-controller="Usuarios" asp-action="LoginPage">Usuário</a> -->
                        </li>
                    </ul>
                </div>

                @if (User.Identity.IsAuthenticated && User.Claims.ElementAt(1).Value != "3")
                {
                    <div style="margin-right:10px">
                        <label style="display:inline-block; margin:0; color:white; font-weight:bold; text-align:right">@User.Identity.Name<label style="display:block">Senai Cimatec</label></label>
                    </div>
                    <div style="float:right">
                        <a asp-action="UserPage" asp-controller="Usuarios">
                            <img src="@Context.Session.GetString("UserPerfil")" style="width:60px; height: 60px; border-radius: 200px" />
                        </a>
                    </div>
                }
             </div>
        </nav>

        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" style="height:25px; background-color:#222A35">
            @if (User.Identity.IsAuthenticated)
            {
                <div class="container">
                    <a asp-action="ExplorarProjetos" asp-controller="Projetos" style="color:white;">Explorar Projetos</a>
                    <a asp-action="Index" asp-controller="Projetos" style="color:white">Meus Projetos</a>
                </div>
            }
        </nav>
    
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - ControlIC -     @if (User.Identity.IsAuthenticated) {<a href="~/Usuarios/Logout">Logout</a>}
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>