@model ControlIC.Controllers.UsuariosController.InputModelEstudante
@{
    ViewData["Title"] = "Cadastro";
}

<style>
    span {
        color: red;
        float: left;
        margin-top: 1%;
        margin-left: 1%;
    }
</style>

<br>
<center>
    <h1>Cadastro</h1>
    <br>
    <br>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)

<fieldset style="width: 40%;">
    <br />
    <label>Data de Nascimento</label>
    <input type="date" class="form-control" name="DataNascimento" placeholder="" />
    @Html.ValidationMessageFor(model => model.DataNascimento)
    <br />
    <label>Data de Ingresso</label>
    <input type="date" class="form-control" name="DataIngresso" placeholder="" />
    @Html.ValidationMessageFor(model => model.DataIngresso)
    <br />
    <br />
    <label style="display:inline-block"><input style="display:block; margin: 0 auto" type="radio" name="Genero" value="M" checked="checked" />Male</label>
    @Html.ValidationMessageFor(model => model.Genero)
    <label style="display:inline-block"><input style="display:block; margin: 0 auto" type="radio" name="Genero" value="F">Female</label>
    @Html.ValidationMessageFor(model => model.Genero)
    <br />
    <br />
    <br />
    <div class="form-group">
        <label asp-for="CursoID" class="control-label">Curso</label>
        <select asp-for="CursoID" class="form-control" asp-items="ViewBag.CursoID"></select>
    </div>
    <br />
    <br />
    <br />
    <input type="text" class="form-control" name="Linkedin" placeholder="Link seu linkedin..." />
    @Html.ValidationMessageFor(model => model.linkedin)
    <br />
    <br />
    <br />
    <button type="submit" class="btn btn-primary" style="background-color: mediumseagreen; border: none;">Finalizar cadastro</button>
    <br /><br /><br />

    @if (ViewBag.Erro != null)
    {
        <h3 style="padding: 20px; color: white; background-color: dimgray">
            @ViewBag.Erro
        </h3>
    }
</fieldset>
    }
</center>
