@model ControlIC.Grafo.Rede

@{
    ViewData["Title"] = "Personal Network";
}

<script>

    function MudarTabela(Nome, Email, Data) {
        var CampoNome = document.getElementById("NomeUsuario");
        var CampoEmail = document.getElementById("EmailUsuario");
        var CampoData = document.getElementById("DataUsuario");

        CampoNome.innerText = Nome;
        CampoEmail.innerText = Email;
        CampoData.innerText = Data;
    };

</script>

<style>
    .rede {
        max-height: 450px;
        max-width: 1110px;
        width: 800px;
        height: 500px;
        overflow: auto;
        position: relative;
        display: inline-block;
    }

    .vertice {
        width: 25px;
        height: 25px;
        text-align:center;
        font-weight: bold;
        color: white;
        position: absolute;
        border-radius: 200px;
    }

    .ligacao {
        background-color: blue;
    }

    .nucleo {
        background-color: darkred;
    }

    .Grafo{
        position:absolute;
        width:@((Model.Conteudo.ElementAt(0).X*2*40).ToString())px;
        height:@((Model.Conteudo.ElementAt(0).Y*2*40).ToString())px;
        left:50%;
        transform:translateX(-50%);
    }

    .Dados {
        width: 250px;
        height: auto;
        float: right;
    }
</style>

<div class="rede">
    <div class="Grafo">
        <svg style="position:relative; padding:10px; width:-webkit-fill-available; height:-webkit-fill-available">
            @foreach (var vertice in Model.Conteudo)
            {
                foreach (var ligacao in vertice.Ligacoes)
                {
                    <line style="stroke:black; position:absolute" x1="@(ligacao.Entrada.X*40)" x2="@(ligacao.Saida.X*40)" y1="@(ligacao.Entrada.Y*40)" y2="@(ligacao.Saida.Y*40)"></line>
                }
            }
        </svg>
        @foreach (var vertice in Model.Conteudo)
        {
            @if (vertice.Altura == 0)
            {
                <div class="vertice nucleo" onmouseover="MudarTabela('@vertice.Usuario.Nome', '@vertice.Usuario.Email', '@vertice.Usuario.DataNascimento')" style=" top:@((vertice.Y * 40).ToString())px; left:@((vertice.X * 40).ToString())px">@vertice.Usuario.Nome[0]</div>
            }
            else
            {
                <div class="vertice ligacao" onmouseover="MudarTabela('@vertice.Usuario.Nome', '@vertice.Usuario.Email', '@vertice.Usuario.DataNascimento')" style=" top:@((vertice.Y*40).ToString())px; left:@((vertice.X*40).ToString())px">@vertice.Usuario.Nome[0]</div>
            }
        }
    </div>
</div>

<div class="Dados">
    <text id="NomeUsuario">@Model.Conteudo.ElementAt(0).Usuario.Nome</text>
    <hr />
    <text id="EmailUsuario">@Model.Conteudo.ElementAt(0).Usuario.Email</text>
    <br />
    <text id="DataUsuario">@Model.Conteudo.ElementAt(0).Usuario.DataNascimento</text>
    <br />
    <hr />
    <br />
    <a asp-action="RedeAleatoria">Retornar para pagina de rede</a>
</div>