@model ControlIC.Grafo.Rede

@{
    ViewData["Title"] = "Personal Network";

    int posicao = 0;
}

<script>

    function ColetarPosicaoY() {
        var nucleo = document.getElementById("Nucleo");

        console.log(nucleo.offsetTop);
        console.log(nucleo.offsetLeft);

        var a = Grafo.Metodo();

        console.log(a);

        return nucleo.offsetTop;
    };

</script>

<style>
    .rede {
        max-height: 450px;
        max-width: 1110px;
        width: 1110px;
        height:500px;
        overflow: auto;
        position: relative;
    }

    .vertice {
        width: 20px;
        height: 20px;
        padding-left:2px;
        font-weight:bold;
        color:white;
        position: absolute;
        background-color: blue;
    }

    .nucleo{
        top:10px;
        left:10px;
    }
</style>

<div class="rede">
    <svg style="position:relative; padding:10px; width:-webkit-fill-available; height:-webkit-fill-available">
        @foreach (var vertice in Model.Conteudo)
        {
            foreach (var ligacao in vertice.Ligacoes)
            {
                <line style="stroke:black; position:absolute" x1="@(ligacao.Entrada.X*40)" x2="@(ligacao.Saida.X*40)" y1="@(ligacao.Entrada.Y*40)" y2="@(ligacao.Saida.Y*40)"></line>
            }
        }
    </svg>
    @foreach (var vertice in Model.Conteudo)
    {
        <div class="vertice" style=" top:@((vertice.Y*40).ToString())px; left:@((vertice.X*40).ToString())px">@vertice.Usuario.Nome[0]</div>
    }
</div>