@model ControlIC.Grafo.Rede

@{
    ViewData["Title"] = "Rede Aleatória";
}

<script>

    function MudarTabela(Nome, Email, Data) {
        var CampoNome = document.getElementById("NomeUsuario");
        var CampoEmail = document.getElementById("EmailUsuario");
        var CampoData = document.getElementById("DataUsuario");

        CampoNome.innerText = Nome;
        CampoEmail.innerText = Email;
        CampoData.innerText = Data;
    };

</script>

<style>
    .rede {
        max-height: 450px;
        max-width: 1110px;
        width: 800px;
        height:500px;
        overflow: auto;
        position: relative;
        display:inline-block;
    }

    .vertice {
        width: 20px;
        height: 20px;
        padding-left:2px;
        font-weight:bold;
        color:white;
        position: absolute;
        background-color: blue;
    }

    .nucleo{
        top:10px;
        left:10px;
    }

    .Grafo{
        position:absolute;
        width:@((Model.Conteudo.Count()*100).ToString())px;
        height:@((Model.Conteudo.Count()*100).ToString())px;
        left:50%;
        transform:translateX(-50%);
    }

    .Dados {
        width: 250px;
        height: auto;
        float: right;
    }
</style>

<div class="rede">
    <div class="Grafo">
        <svg style="position:relative; padding:10px; width:-webkit-fill-available; height:-webkit-fill-available">
            @foreach (var vertice in Model.Conteudo)
            {
                foreach (var ligacao in vertice.Ligacoes)
                {
                    <line style="stroke:black; position:absolute" x1="@(ligacao.Entrada.X)" x2="@(ligacao.Saida.X)" y1="@(ligacao.Entrada.Y)" y2="@(ligacao.Saida.Y)"></line>
                }
            }
        </svg>
        @foreach (var vertice in Model.Conteudo)
        {
            <div class="vertice" onmouseover="MudarTabela('@vertice.Usuario.Nome', '@vertice.Usuario.Email', '@vertice.Usuario.DataNascimento')" style=" top:@((vertice.Y).ToString())px; left:@((vertice.X).ToString())px">
                <a style="color:white" asp-action="RedeEgoNucleo" asp-route-id="@vertice.Usuario.ID">@vertice.Usuario.Nome[0]</a>
            </div>
        }
    </div>
</div>

<div class="Dados">
    <text id="NomeUsuario">@Model.Conteudo.ElementAt(0).Usuario.Nome</text>
    <hr />
    <text id="EmailUsuario">@Model.Conteudo.ElementAt(0).Usuario.Email</text>
    <br />
    <text id="DataUsuario">@Model.Conteudo.ElementAt(0).Usuario.DataNascimento</text>
</div>
