@model ControlIC.Models.Usuario

@{
    ViewData["Title"] = "Details";
}

<style>
    span {
        color: red;
        float: left;
        margin-top: 1%;
        margin-left: 1%;
    }

    tr.spaceUnder > td {
        padding-bottom: 1em;
    }

    .label-display {
        font-size: larger;
        margin: 20px;
        border: 3px solid #000;
    }

    .row{
        display:flex;
    }

    .column {
        float: left;
        
    }

    .left {
        width: 30%;
    }

    .right {
        width: 25%;
    }

    .center{
        width: 45%
    }

</style>

<h1>Perfil do usuario</h1>
<hr />
<br />
<br />
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

<fieldset style="align-items:center">
    <div class="row">
        <div class="column left">
            <img src="@ViewBag.ImageData" style="background-color: black; border: 5px solid #000; border-color: black; width: 300px; height: 300px; border-radius: 200px" />
        </div>

        <br />

        <table class="column center" style="border-collapse: separate; border-spacing: 35px;">
            <tr>
                <th style="font-size:large">Nome:</th>
                <td class="label-display" colspan="2">@Html.DisplayFor(model => model.Nome)</td>
            </tr>
            <tr>
                <th style="font-size:large">Email:</th>
                <td class="label-display" colspan="2">@Html.DisplayFor(model => model.Email)</td>
            </tr>
            <tr>
                <th style="font-size:large">Data de Nascimento:</th>
                <td class="label-display" colspan="2">@Html.DisplayFor(model => model.DataNascimento)</td>
            </tr>
            <tr>
                <th style="font-size:large">@ViewBag.Especifico:</th>
                <td class="label-display" colspan="2">@ViewBag.ValorEspecifico</td>
            </tr>
        </table>
    </div>
    <br />
    <br />
    <div style="width:300px">
        <a href="~/Usuarios/Logout" class="btn btn-warning">Logout</a>
        <a class="btn btn-warning">Editar Perfil</a>
        @if (Model.LinkedIn != null)
        {
            <a href="@Model.LinkedIn" class="btn btn-warning">LinkedIn</a>
        }
    </div>
</fieldset>
}
