@model ControlIC.Models.Usuario

@{
    ViewData["Title"] = "Details";
}

<style>
    span {
        color: red;
        float: left;
        margin-top: 1%;
        margin-left: 1%;
    }

    tr.spaceUnder > td {
        padding-bottom: 1em;
    }

    .label-display {
        font-size: larger;
        margin: 20px;
        border: 3px solid #000;
    }

    .row {
        display: flex;
    }

    .column {
        float: left;
    }

    .left {
        width: auto;
    }

    .right {
        margin-left: 20px;
        width: auto;
    }

    .center {
        margin-left: 20px;
        width: auto;
    }
</style>

<h1 style="display:flex; align-items:center">
    <b style="width:90%">Perfil do usuario</b>
    @if (Model.LinkedIn != null)
    {
        <a class="btn btn-warning" style="float:right; margin-top:5px; margin-right:5px" href="@Model.LinkedIn">Linkedin</a>
    }
    <a class="btn btn-warning" style="float:right; margin-top:5px" asp-action="EditUser">Editar Perfil</a>
</h1>
<hr />
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <div>
            <div class="column left">
                <img src="@ViewBag.ImageData" style="background-color: black; border: 5px solid #000; border-color: black; width: 100px; height: 100px; border-radius: 200px" />
            </div>

            <div class="column center" style="vertical-align:central; height:100px">
                <div>
                    <b style="font-size:large">Nome:</b>
                    <label style="font-size:large" colspan="2">@Html.DisplayFor(model => model.Nome)</label>
                </div>
                <div style="margin-top:25px">
                    <b style="font-size:large">Email:</b>
                    <label style="font-size:large" colspan="2">@Html.DisplayFor(model => model.Email)</label>
                </div>
            </div>

            <div class="column right" style="vertical-align:central; height:100px">
                <div>
                    <b style="font-size:large">Data de Nascimento:</b>
                    <label style="font-size:large" colspan="2">@Html.DisplayFor(model => model.DataNascimento)</label>
                </div>
                <div style="margin-top:25px">
                    <b style="font-size:large">@ViewBag.Especifico:</b>
                    <label style="font-size:large" colspan="2">@ViewBag.ValorEspecifico</label>
                </div>
            </div>
        </div>
    </fieldset>
    <br />
    <br />
    <fieldset>
        <h4>
            <strong onclick="ExibirTableConvites(event)" id="TextConvites">Convites</strong> 
            @if (Model.TipoUsuario == 1)
            {
                
                <strong onclick="ExibirTableAtividades(event)" id="TextAtividades">| Atividades</strong>
            }
        </h4>
        <table id="TableConvites" style="display:none" class="table">
            @if (User.Claims.ElementAt(1).Value == "1" && Model.ProjetoEstudantes.Count(p => !p.Aprovado) == 0)
            {
                <thead>
                    <tr>
                        <th>
                            Não há convites para sua conta.
                        </th>
                    </tr>
                </thead>
            }
            else if (User.Claims.ElementAt(1).Value == "2" && Model.projetoCoorientadores.Count(p => !p.Aprovado) == 0)
            {
                <thead>
                    <tr>
                        <th>
                            Não há convites para sua conta.
                        </th>
                    </tr>
                </thead>
            }
            else
            {
                <thead>
                    <tr>
                        <th>
                            Projeto
                        </th>
                        <th>
                            Professor
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (User.Claims.ElementAt(1).Value == "1")
                    {
                        foreach (var i in Model.ProjetoEstudantes)
                        {
                            @if (!i.Aprovado)
                            {
                                <tr>
                                    <td>
                                        <a asp-action="Details" asp-controller="Projetos" asp-route-id="@i.ProjetoID">@i.Projeto.Nome</a>
                                    </td>
                                    <td>@i.Projeto.Usuario.Nome</td>
                                    <td>
                                        <a asp-action="AceitarConvite" asp-route-id="@i.ID">Aceitar</a> |
                                        <a asp-action="RecusarConvite" asp-route-id="@i.ID">Recusar</a>
                                    </td>
                                </tr>
                            }
                        }
                    }
                    else
                    {
                        foreach (var i in Model.projetoCoorientadores)
                        {
                            @if (!i.Aprovado)
                            {
                                <tr>
                                    <td>
                                        <a asp-action="Details" asp-controller="Projetos" asp-route-id="@i.ProjetoID">@i.Projeto.Nome</a>
                                    </td>
                                    <td>@i.Projeto.Usuario.Nome</td>
                                    <td>
                                        <a asp-action="AceitarConvite" asp-route-id="@i.ID">Aceitar</a> |
                                        <a asp-action="RecusarConvite" asp-route-id="@i.ID">Recusar</a>
                                    </td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            }
        </table>
        <table id="TableAtividades" style="display:none" class="table">
            @if (Model.AtividadeResponsavels.Count(a => !a.Entregue) == 0)
            {
                <thead>
                    <tr>
                        <th>
                            Não há atividades pendentes para sua conta.
                        </th>
                    </tr>
                </thead>
            }
            else
            {
                <thead>
                    <tr>
                        <th>
                            Projeto
                        </th>
                        <th>
                            Atividade
                        </th>
                        <th></th>
                    </tr>
                </thead>
                foreach (var i in Model.AtividadeResponsavels.Where(a => !a.Entregue))
                {
                    <tr>
                        <td>
                            <a asp-action="Details" asp-controller="Projetos" asp-route-id="@i.Atividade.ProjetoID">@i.Atividade.Projeto.Nome</a>
                        </td>
                        <td>@i.Atividade.Titulo</td>
                        <td>
                            <a class="btn btn-warning" asp-action="Entregar" asp-controller="Atividades" asp-route-id="@i.ID">Entregar</a>
                        </td>
                    </tr>
                }
            }
        </table>
    </fieldset>

}

<script>

    var ExibirTableConvites = function (event) {
        var TextAtividades = document.getElementById("TextAtividades");
        var TableAtividades = document.getElementById("TableAtividades");

        var TextConvites = document.getElementById("TextConvites");
        var TableConvites = document.getElementById("TableConvites");

        if (TableConvites.style.display == "none")
        {
            TableConvites.style.display = "table";
            TextConvites.style.textDecoration = "underline";

            TextAtividades.style.textDecoration = "none";
            TableAtividades.style.display = "none";
        }
        else
        {
            TableConvites.style.display = "none";
            TextConvites.style.textDecoration = "none";
        }
    };

    var ExibirTableAtividades = function (event) {
        var TextAtividades = document.getElementById("TextAtividades");
        var TableAtividades = document.getElementById("TableAtividades");

        var TextConvites = document.getElementById("TextConvites");
        var TableConvites = document.getElementById("TableConvites");

        if (TableAtividades.style.display == "none") {
            TableAtividades.style.display = "table";
            TextAtividades.style.textDecoration = "underline";

            TextConvites.style.textDecoration = "none";
            TableConvites.style.display = "none";
        }
        else {
            TableAtividades.style.display = "none";
            TextAtividades.style.textDecoration = "none";
        }
    }

</script>