@model ControlIC.Models.Usuario

@{
    ViewData["Title"] = "Details";
}

<style>
    span {
        color: red;
        float: left;
        margin-top: 1%;
        margin-left: 1%;
    }

    .label-display {
        font-size: larger;
        margin: 20px;
        border-style: groove;
    }

    .row{
        display:flex;
    }

    .column {
        float: left;
        
    }

    .left {
        width: 30%;
    }

    .right {
        width: 25%;
    }

    .center{
        width: 45%
    }

</style>

<h1>Perfil do usuario</h1>
<hr />
<br />
<br />
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

<div style="align-items:center">
    <div class="row">
        <div class="column left">
            <img src="@ViewBag.ImageData" style="border-style:solid; border-color:black; width:300px;height:300px; border-radius:200px" />
        </div>
             
        <br />

        <div class="column center">
            <label style="font-size:larger; font-weight:bold; width:98px">Nome: </label>
            <label class="label-display" style="width: 200px">@Html.DisplayFor(model => model.Nome)</label>
            <br />
            <label style="font-size:larger; font-weight:bold;width:98px">Email: </label>
            <label class="label-display" style="width: 200px">@Html.DisplayFor(model => model.Email)</label>
            <br />
            <label style="font-size:larger; font-weight:bold">Data de Nascimento: </label>
            <label class="label-display" style="width: 110px; text-align:center">@Html.DisplayFor(model => model.DataNascimento)</label>
            <br />
            <label style="font-size:larger; font-weight:bold; width:98px">@ViewBag.Especifico: </label>
            <label class="label-display" style="width: 200px">@ViewBag.ValorEspecifico</label>
        </div>

        <div class="column right">
            @if (Model.LinkedIn != null)
            {
                <br/>
                <label class="btn btn-warning"><a href="@Model.LinkedIn" class="text-dark" style="width: 80px">Ir para LinkedIn</a></label>
            }
            else 
            {
                <br/>
                <br/>
            }
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <a href="~/Usuarios/Logout" class="btn btn-warning">Realizar o logout</a>
            <a class="btn btn-warning">Editar</a>
        </div>

        <br />
        <br />
        <br />
        <br />
    </div>
</div>
}
