@model ControlIC.Models.Atividade

<h1>Detalhes da Atividade</h1>

<div>
    <br><br />
    <h4>Atividade: @Model.Titulo</h4>
    <br />
    <dl class="row">
        <dt class="col-sm-2">
            Título:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class="col-sm-2">
            Texto:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Texto)
        </dd>
        <dt class="col-sm-2">
            Data Entrega:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataPrevista)
        </dd>
        <dt class="col-sm-2">
            Documento Público:
        </dt>
        <dd class="col-sm-10">
            @{
                if (Model.Restricao)
                {
                    <label class="text-success">Público</label>
                }
                else
                {
                    <label class="text-primary">Público</label>
                }
            }
        </dd>
        <dt class="col-sm-2">
            Status das Entregas:
        </dt>
        <dd class="col-sm-10">
            <label style="background-color: rgb(@Model.Cor); border:solid #262626 1px; padding: 12px; border-radius: 200px;" />
        </dd>
        <dt class="col-sm-2">
            Projeto Associado:
        </dt>
        <dd class="col-sm-10">
            @Model.Projeto.Nome
        </dd>
    </dl>
    <br><br />
    <h4>Responsáveis da atividade</h4>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Nome
                </th>
                <th>
                    E-mail
                </th>
                <th>
                    Entrega
                </th>
            </tr>
        </thead>

        @foreach (var item in Model.Participantes)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuario.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuario.Email)
                </td>
                <td>
                    @if (item.Arquivo != null)
                    {
                        <a asp-action="Download" asp-route-id="@item.ID" target="_blank">Download</a>
                    }
                    else
                    {
                        <label class="text-danger">Não entregue</label>
                    }

                </td>
            </tr>
        }
    </table>
</div>
<div>
    <a class="btn btn-primary" asp-action="Index" asp-route-id="@Model.ProjetoID">Voltar</a>
    <a class="btn btn-success" asp-action="Edit" asp-route-id="@Model.ID" asp-route-idProjetoUrl="@Model.ProjetoID">Editar</a>
</div>
