@model ControlIC.Models.AtividadeResponsavel


<h1>Entregar Atividade</h1>
<br>
<br/>
<h4>Atividade</h4>
<br>
<div class="row">
    <div class="col-md-4">
        <form asp-action="EntregarAtividade" enctype="multipart/form-data">
            <input type="text" asp-for="@Model.ID" class="text-danger"/>
            <input type="hidden" asp-for="DataEntrega"/>
            <input type="hidden" asp-for="Entregue" />
            <input type="text" asp-for="AtividadeID" class="text-success"/>
            <input type="hidden" asp-for="Atividade.ProjetoID" />
            <input type="text" asp-for="UsuarioID" class="text-dark"/>
            <input type="hidden" asp-for="Atividade.Titulo" />
            <input type="hidden" asp-for="Atividade.Texto" />
            <input type="hidden" asp-for="Atividade.DataPrevista" />

            <div class="form-group">
                <label class="control-label">
                    <strong>Título:</strong> @Model.Atividade.Titulo
</label>
            </div>
            <div class="form-group">
                <label class="control-label">
                    <strong>Texto:</strong> @Model.Atividade.Texto
</label>
            </div>
            <div class="form-group">
                <label class="control-label">
                    <strong>Data de Entrega: </strong>
                    @Model.Atividade.DataPrevista
                </label>
            </div>

            @{
                if (Model.DataEntrega != null)
                {
                    <div class="form-group">
                        <label class="control-label">
                            <strong>Entregue em: </strong>
                            @Model.DataEntrega
                        </label>
                    </div>
                }
                <div class="form-group">
                    <label class="control-label">
                        <strong>Status: </strong>
                        @{
                            if (Model.Entregue)
                            {
                                if (DateTime.Compare((DateTime)Model.DataEntrega, Model.Atividade.DataPrevista) <= 0)
                                {
                                    <label class="text-success">Entregue</label>
                                }
                                else
                                {
                                    <label class="text-success">Entregue com atraso</label>
                                }
                            }
                            else
                            {
                                <label class="text-danger">Pendente</label>
                            }
                        }
                    </label>
                </div>
            }
            <div class="form-group">
                <label asp-for="Arquivo" class="control-label"></label>
                <input type="file" asp-for="ArquivoFormato" class="form-control" />
                <span asp-validation-for="ArquivoFormato" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Enviar" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-primary" asp-action="Index" asp-route-id="@Model.Atividade.ProjetoID">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
