@model IEnumerable<ControlIC.Models.Atividade>

<h1>Atividades</h1>

@{
    if (Int32.Parse(ViewData["tipoUser"].ToString()) == 2)
    {
        <p>
            <a asp-action="CreateAtividade" asp-route-id="@ViewData["ProjetoID"]">Criar atividade</a>
        </p>
    }
}

<table class="table">
    <thead>
        <tr>
            <th>
                Título
            </th>
            <th>
                Data Entrega
            </th>
            <th>
                @{ if (Int32.Parse(ViewData["tipoUser"].ToString()) != 2)
                    {
                        <label>Status</label>
                    }
                }
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataPrevista)
                </td>
                <td>
                    @{
                        AtividadeResponsavel atvR = item.Participantes.Find(p => p.UsuarioID == Int32.Parse(ViewData["idUsuario"].ToString()));
                        if (atvR != null)
                        {
                            if (atvR.Entregue)
                            {
                                <label class="text-success">Entregue</label>
                            }
                            else
                            {
                                <label class="text-danger">Não entregue</label>
                            }
                        }
                    }
                </td>
                <td>
                    @{


                        if (Int32.Parse(ViewData["tipoUser"].ToString()) == 2)
                        {
                            if (ViewData["Orientador"] != null)
                            {
                                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.ID">Excluir</a>
                            }
                            <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.ID">Editar</a>
                            <a class="btn btn-dark" asp-action="Details" asp-route-id="@item.ID" asp-route-idProjetoUrl="@Int32.Parse(ViewData["ProjetoID"].ToString())">Entregas</a>
                        }
                        else
                        {
                            AtividadeResponsavel atvResp = item.Participantes.Find(p => p.UsuarioID == Int32.Parse(ViewData["idUsuario"].ToString()));
                            if (atvResp != null)
                            {
                                string labelLink;
                                if(atvResp.Arquivo == null)
                                {
                                    labelLink = "Entregar Atividade";
                                }
                                else
                                {
                                    labelLink = "Editar Entrega";
                                }
                                <a class="btn btn-primary" asp-action="Entregar" asp-controller="Atividades" asp-route-id="@atvResp.ID">@labelLink</a>
                            }
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
