@model ControlIC.Models.Recrutamento

@{
    ViewData["Title"] = "Delete";
}

<h1>Excluir Recrutamento</h1>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Descrição:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            Link Externo:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LinkExterno)
        </dd>
        <dt class = "col-sm-2">
            Data da Postagem:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataPostagem)
        </dd>
        <dt class = "col-sm-2">
            Status:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.status)
        </dd>
        <dt class = "col-sm-2">
            Projeto:
        </dt>
        <dd class = "col-sm-10">
            @Model.Projeto.Nome
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Excluir" class="btn btn-danger" /> |
        <a asp-action="Index" asp-route-idProjeto="@Model.ProjetoID">Retornar</a>
    </form>
</div>
