@model ControlIC.Models.Recrutamento

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Recrutamento: @ViewBag.Titulo</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Descrição:
        </dt>
        <dd class="col-sm-10" style="text-align:justify">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class="col-sm-2">
            Link Externo:
        </dt>
        <dd class="col-sm-10">
            <a href="@Model.LinkExterno" target="_blank">Link Externo</a>
        </dd>
        <dt class="col-sm-2">
            Data de Postagem:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataPostagem)
        </dd>
        <dt class="col-sm-2">
            Status:
        </dt>
        @if (Model.status)
        {
            <dd class="col-sm-10" style="color:green">
                Ativo
            </dd>
        }
        else
        {
            <dd class="col-sm-10" style="color:red">
                N/A
            </dd>
        }
        <dt class="col-sm-2">
            Edital:
        </dt>
        <dd class="col-sm-10">
            <a asp-action="Download" asp-controller="Recrutamentoes" asp-route-id="@Model.ID" target="_blank">Download Edital</a>
        </dd>
    </dl>
</div>
