@model IEnumerable<ControlIC.Models.Recrutamento>

@{
    ViewData["Title"] = "Index";
}

<style>
    td {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 150px;
    }
</style>

<h1>Recrutamentos: @ViewBag.Titulo</h1>

<p>
    <a asp-action="Create" asp-route-id="@TempData["IdProjeto"]">Criar Edital</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LinkExterno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataPostagem)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @if (item.status)
            {
                <td style="color:green">Ativo</td>
            }
            else
            {
                <td style="color:red">N/A</td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LinkExterno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataPostagem)
            </td>
            <td>
                <a style="margin:2px" class="btn btn-warning" asp-action="Edit" asp-route-id="@item.ID">Editar</a> 
                <a style="margin:2px" class="btn btn-dark" asp-action="Details" asp-route-id="@item.ID">Detalhes</a>
                <a style="margin:2px" class="btn btn-danger" asp-action="Delete" asp-route-id="@item.ID">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
